{% extends 'base.html.twig' %}

{% block title %}New Chanson{% endblock %}

{% block body %}
    <h1>Create new Chanson</h1>

    {{ include('chanson/_form.html.twig') }}

    <a class="button-retour" href="{{ path('app_discotheque') }}">Retour à la liste</a>
{% endblock %}
